.div{
  border-radius: 40px;
text-align: center;
background-color: #000000;
}
.buttonNumber{
    background-color: #a0a0a0;
    border-radius: 50px;
    height:65px;
    width:65px;
}
.buttonOperation{
    background-color: #ffbf00;
    border-radius: 50px;
    height:65px;
    width:65px;
}
.equal{
    background-color: #00609c;
    border-radius: 50px;
    height:130px;
    width:70px;
}
#input{
    width:300px;
    height:60px;
}
#delete{
  background-color: #40e0ff;
    border-radius: 50px;
    height:60px;
    width:60px;
}
